<div class="footer-container">

    <div class="footer-main">

        <div class="logo-box">

            <img src="../../assets/images/logo_idp_leaf.svg" class="leaf">

            <img src="../../assets/images/logo_footer_idp.svg" class="logo">

        </div>

        <p class="footer-data">
             Global Gateway Towers, Tower-B, 5th Floor, Sikanderpur Ghosi, Sector-26, M.G. Road, Gurugram -122002 Haryana, India

        </p>

        <hr>

        <div class="footer-drop">

            <div class="row">

                <div class="column1">

                    <a href="">Contact Us</a>

                    <a href=""><img src="../../assets/images/phone.svg" class="phone"> 1800-234-209</a>

                    <a href=""><img src="../../assets/images/email.svg" class="mail"> ielts.india@idp.com</a>

                </div>
                <div class="column2">

                    <a href="">Corporate Information</a>

                    <a href="">About IDP IELTS</a>                        

                    <a href="">Registration partners</a>

                    <a href="">IDP IELTS offices in India</a>

                     

                 

                </div>

                <div class="column3">

                   

                        <a href="">IELTS Result</a>                    

                        <a href="">Additional TRF</a>

                        <a href="">Enquiry on Results</a>

                        <a href=""> Cancellation</a>
                </div>
            </div>

        </div>

    </div>

</div>