<div class="container">
    <div class="card"  >
        <div class="cardbody" >
            
            <img src="{{blogdetails.urlToImage}}" *ngIf="blogdetails.urlToImage != null else noimg"> 
            <ng-template #noimg>
                <img src="../../../assets/images/no-image.png">
            </ng-template>
    
            <p>{{blogdetails.author}}</p> 
           <p> {{blogdetails.title}}</p>   
           <p>{{blogdetails.description}}</p>  
           <p>{{blogdetails.content}}</p>
              
       </div><br>
    </div>
</div>


