<div class="container">
    <div class="card"  >
        <div class="cardbody" >
            
            <img src="{{blogdetails.urlToImage}}" *ngIf="blogdetails.urlToImage != null else noimg"> 
            <ng-template #noimg>
                <img src="../../../assets/images/no-image.png">
            </ng-template>
    
            <h4>Author: <span>{{blogdetails.author}}</span></h4> 
            <h4>Title:<span> {{blogdetails.title }}</span></h4>   
            <h4>Description:<span>{{blogdetails.description}}</span></h4> 
            <h4>Content:<span>{{blogdetails.content}}</span></h4>
             <button (click)=edit(blogdetails)>Update</button>
            <button (click)=delete()>Delete</button> 
             
       </div><br>
    </div>
</div>


