.container{
    width: 100%;
    
    
}
.header{
    padding: 20px;
    height: 80px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: red;
    

}
img{
    width:180px; 
    
}
ul{
    float: right;
}
li{
    color: white;
    font-size: 25px;
    display: inline;
    margin: 15px;
}