<div class="container-fluid">
    <div class="container">
                <div class="row">
                  
                    <form [formGroup]="alldetails" >
                        <div class="form-group">
                          <label class="blog-form-input"> URL:</label>
                          <input formControlName="url" type="text" class="form-control"  >
                          <small *ngIf="url.invalid && url.touched" class="text-danger">URL is Required</small> 
                        </div>
                        <div class="form-group">
                          <label class="blog-form-input"> Title:</label>
                          <input formControlName="title" type="text" class="form-control">
                          <small *ngIf="title.invalid && title.touched" class="text-danger">Title is Required</small>  
                        </div>
                        <div class="form-group">
                          <label class="blog-form-input">Author:</label>
                          <input formControlName="author" type="text" class="form-control" >
                          <small *ngIf="author.invalid && author.touched" class="text-danger">Author is Required</small>
                        </div>
                        <div class="form-group">
                          <label class="blog-form-input">Description:</label>
                          <input formControlName="description" type="text" class="form-control" >
                          <small *ngIf="description.invalid && description.touched" class="text-danger">Description is Required</small>
                        </div>
                        <div class="form-group">
                          <label class="blog-form-input">Image:</label>
                          <input formControlName="urlToImage" type="text" class="form-control" >
                          <small *ngIf="urlToImage.invalid && urlToImage.touched" class="text-danger">Image is Required</small>
                        </div>
                        <div class="form-group">
                          <label class="blog-form-input">Content:</label>
                          <input formControlName="content" class="form-control" >
                          <small *ngIf="content.invalid && content.touched" class="text-danger"> Content is Required</small> 
                        </div> 
                        <button  type="submit"  (click)=blogs(alldetails) [disabled]="alldetails.invalid" >Submit</button>
                        <button class="button1" (click)="Reset()" [disabled]="alldetails.invalid">Reset</button>
                      </form>
                </div>
            </div>
        </div>