.container{
    
        width: 100%;
        height:1900px;
    
    
}
.card{
    width: 45%;
    float: left;
    margin: 10px;
    height: 530px;
    border: 1px solid black;
}
.cardbody{
    margin: 20px;
}
.cardbody img{
    
    width: 95%;
    height: 230px;
    margin: 5px;
   
}

button{
    float: right;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}