<div class="container">
    <div class="card" *ngFor='let blog of blogs; let i = index'>
        <div class="cardbody" >
            <img src="{{blog.urlToImage}}" *ngIf="blog.urlToImage != null else noimg"> 
            <ng-template #noimg>
                <img src="../../../assets/images/no-image.png">
            </ng-template>
            <h4>Author: <span>{{blog.author}}</span></h4> 
           <h4>Title:<span> {{blog.title | slice:0:70}}</span></h4>   
           <h4>Description:<span>{{blog.description | slice:0:250}}</span></h4> 
           <!-- <button [routerLink]="['/blogdetails',i]" >Readmore</button>  -->
           <button (click)=readdetails(blog.url)>Read more</button>
       </div><br>
    </div>
    <div class="clear"></div>
</div>
